## Tuples

* Tuples are immutable sequences of arbitrary objects
* Once created we can NOT REPLACE, REMOVE or ADD elements.

In [7]:
# Tuples have similar syntax to lists.

t = ("ali", 29, 1)

In [8]:
# We can select elements in the tuple by zero based index.
t[0]

'ali'

In [9]:
t[1]

29

In [10]:
t[2]

1

In [11]:
We can find the number of elements in tuple by builtin len function.
len(t)

3

In [12]:
# We can iterate over a tuple.
for item in t:
    print(item)

ali
29
1

In [13]:
#Concatenate
t + ("cur", 27, 1)

('ali', 29, 1, 'cur', 27, 1)

In [16]:
# We can create nested tuples.
n = (("ali", "cur"), (29,28))
print(type(n))
n[0][1]

<class 'tuple'>

'cur'

In [19]:
# To create a tuple with single element

ts = ("turkey")
print(type(ts)) # It doesn't work. 

ts = ("turkey",)
print(type(ts)) # that's it. Trailing Comma Seperator is the solution.

<class 'str'>
<class 'tuple'>

In [21]:
# To create an empty tuple 
e = ()

type(e)

tuple

In [22]:
# Parenthesis can be omitted.

o = 1, 3, 5
print(o)
print(type(o))

(1, 3, 5)
<class 'tuple'>

In [25]:
# we can use this feature in function returns

def minmax(items):
    return min(items), max(items)

r = minmax(o)
print(type(r), r)

<class 'tuple'> (1, 5)

## Tuple Unpacking

* It is a destructuring operation

In [27]:
# As an example

lower, upper = minmax([1,2,3,4,5,6,7,8,9,0])

# Minmax function returns a tuple with 2 elements.
# The tuple unpacked and mapped to 2 references.
print(lower)
print(upper)

0
9

In [31]:
# We can unpack nested tuples.

(a, (b, c)) = (1, (2, 3))

print(a)
print(b)
print(c)

1
2
3

In [32]:
# thanks to tuples swap is so easy.

x = "ali"
y = "cur"

x, y = y, x

print(x)
print(y)

cur
ali

In [33]:
([1,2,4]) # Still list. We should use tuple constructor.

[1, 2, 4]

In [34]:
tuple([1,2,4])
# We can create tuples with constructor that any type we can iterate over.

(1, 2, 4)

In [35]:
tuple("ali")

('a', 'l', 'i')

In [39]:
# we can test membership

1 in (1, 3, 5)

True

In [41]:
1 not in (1, 3, 5)

False