In [33]:
# Negative index is 1 based.
# Positive index is 0 based.

r = [1, -4, 10, -16, 15]

In [34]:
r[4]

15

In [35]:
r[-1]

15

### Slicing

* It is extended version of indexing.
* We can select portions of a list.
* [start : stop]

In [36]:
r.append(99)
r

[1, -4, 10, -16, 15, 99]

In [37]:
# We can use positive indexes.
r[1:3]

[-4, 10]

In [38]:
# Also use positive and negative together.
r[1:-1]

[-4, 10, -16, 15]

In [39]:
# Both start and end positions are optional.
# Get the data from the begining to index 2 excluded. (0,1)
r[:2]

[1, -4]

In [40]:
# get the data from index 2 to last element included. (2,3,4,5)
r[2:]

[10, -16, 15, 99]

### Copy of a List

* `[:]`
* `.copy()`
* `list([])`

In [41]:
s = r[:]

# This operation gives us a new object with a distinct identity.

r is s

False

In [42]:
# But 2 lists has equivalent value.

s[0] == r[0]

True

In [43]:
s = r.copy()

r is s

False

In [44]:
s = list(r) # recommended.

s is r

False

It's so important to understand that although we have a new list object,  
which can be independently modified,  
the elements within it are references to same objects refered to by the original list.

In [45]:
# Shallow Copy

a = [[1,2], [3,4]]
b = a[:]

a is b

False

In [46]:
# elements of the list refers to same objects.

a[0] is b[0]

# True means there is only one object([1,2]). 2 distinct list refer to it.

True

In [47]:
# We can rebind one of them. 

a[0] = [8,9] # This is newly created list.
print(a[0])

# b[0] still refers to [1,2]
b[0]

[8, 9]

[1, 2]

In [48]:
# If we change second element in a[1],
# b[1] will also be changed.
# Because both refer to same object.

a[1].append(5)
print(a[1])
b[1]

[3, 4, 5]

[3, 4, 5]

In [49]:
# We can deep copy the object with copy() method.

a = [1, 2]
b = a.copy()

b.append(3) # It does not effect list a

print(a)
print(b)

[1, 2]
[1, 2, 3]

In [50]:
# Repetition is also copies references not the object.

s = [[1,2]] 
sr = s * 5

sr

[[1, 2], [1, 2], [1, 2], [1, 2], [1, 2]]

In [51]:
sr[2].append(3) 
# we want to append value 3 to the 3rd list in the list.
# But, 3 is added all the elements. Because all of them refers to one object.
# Because of the repetition.
sr

[[1, 2, 3], [1, 2, 3], [1, 2, 3], [1, 2, 3], [1, 2, 3]]

In [52]:
# We can find the INDEX of an element.

words = "Keep it simple if it is possible".split()
words

['Keep', 'it', 'simple', 'if', 'it', 'is', 'possible']

In [53]:
words.index("it") # Method returns the first index of value.

1

In [54]:
i = words.index("simple")

words[i]

'simple'

In [55]:
"ali" in words

False

In [56]:
"ali" not in words

True

In [57]:
words

['Keep', 'it', 'simple', 'if', 'it', 'is', 'possible']

In [58]:
# We can remove the elements of a list.

#DEL and with position of an element.
del words[0]
words

['it', 'simple', 'if', 'it', 'is', 'possible']

In [60]:
#We also can use remove method.
words.remove("possible")
words

['it', 'simple', 'if', 'it', 'is']

In [64]:
#We can add elements to a list with INSERT method.

a = "I accidentally the nobel prize".split()
a

['I', 'accidentally', 'the', 'nobel', 'prize']

In [65]:
a.insert(2, "won")
print(a)
" ".join(a)

['I', 'accidentally', 'won', 'the', 'nobel', 'prize']

'I accidentally won the nobel prize'

In [68]:
#REVERSE

nums = [1, 11, 21]
nums.reverse()
nums

[21, 11, 1]

In [72]:
#SORT METHOD
# It accepts 2 arguments. KEY(func) and REVERSE(T/F)
# Key can be any calleble object that accepts single parameter.
nums.sort(reverse = True)
print(nums)
nums.sort(reverse = False)
nums

[21, 11, 1]

[1, 11, 21]

In [74]:
# This functions modify the original list.
# To create a new list without changing it, REVERSED() and SORTED()

x = [4, 9, 2, 1]

r = reversed(x)
print(x)
print(r)


r_list = list(r)
r_list

[4, 9, 2, 1]
<list_reverseiterator object at 0x00000226F9361948>

[1, 2, 9, 4]